@media screen and (max-width: 845px) {

    .destaques .price-area .price,
    .destaques .price-area .price {
        width: 100%;
    }

    .destaques .price-area .text,
    .destaques .price-area .text {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {

    .destaques .price-area .price,
    .destaques .price-area .price {
        font-size: 30px;
    }

    .destaques .price-area .text,
    .destaques .price-area .text {
        font-size: 20px;
    }
}

@media screen and (max-width:780px) {
    #visivel {
        display: none;
        white-space: nowrap;
    }

    #oculto {
        visibility: visible;
    }

    .logo.img {
        width: 40%;
    }

    .logo.logo-text {
        width: 35%;
    }

    .logo-compras {
        width: 25%;
    }
}

@media screen and (max-width: 770px) {
    .logo-img img {
        width: 200px;
        height: auto;
    }

    .logo-text p {
        font-size: 20px;
    }
}

@media screen and (max-width: 630px) {

    .logo-img {
        margin-left: 3%;
        margin-right: 3%;
        width: 40%;
    }

    .logo-img img {
        width: 200px;
        height: auto;
    }

    .logo-text {
        margin-left: 3%;
        margin-right: 3%;
        width: 48%;
    }

    .logo-compras {
        display: none;
    }
}

/* 
@media screen and (max-width: 600px) {

    .bebe .price-area .price,
    .infantil .price-area .price {
        width: 100%;
    }

    .bebe .price-area .text,
    .infantil .price-area .text {
        width: 80%;
    }
}
 */
@media screen and (max-width: 430px) {
    .logo-img img {
        width: 150px;
        height: auto;
    }

    .logo-text p {
        font-size: 15px;
    }

    .logo-text {
        margin-left: 1%;
        margin-right: 1%;
        width: 40%;
    }

    .logo-img {
        margin-left: 1%;
        margin-right: 1%;
        width: 56%;
    }
}